<div class="row">
  <div class="medium-6 columns">
    <nav class="show-for-small-only">
      <div class="icon-bar two-up">
        <%= link_to "#tariffs", class: "item" do %>
          <label>Tariffs</label>
        <% end %>
        <%= link_to "#contact", class: "item" do %>
          <label>Contact directly</label>
        <% end %>
      </div>
    </nav>

    <%= simple_form_for @booking do |f| %>
      <%= f.input :name %>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :arrive, as: :date,
            start_year: Date.today.year,
            end_year: Date.today.year + 2,
            order: [:day, :month, :year] %>
        </div>
        <div class="small-6 columns">
          <%= f.input :depart, as: :date,
            start_year: Date.today.year,
            end_year: Date.today.year + 2,
            order: [:day, :month, :year] %>
        </div>
      </div>
      <%= f.input :room_type, collection: Booking::ROOM_TYPES %>
      <%= f.input :email, as: :email %>
      <%= f.input :phone_number, as: :tel %>
      <%= f.input :message, as: :text %>
      <%= f.button :submit, 'Submit enquiry', class: 'expand' %>
    <% end %>
  </div>

  <div class="medium-6 columns">
    <div id="tariffs">
      <p>Queen rooms with ensuite from $100 to $120 per night.</p>
      <p>Extra persons for single beds $25.</p>
    </div>
    <div  id="contact">
      <p>Contact John or Dorothy</p>
        <ul>
          <li>
            <%= link_to "+64 (0) 9 405 7676", "tel:+64 (0) 9 405 7676" %>
          </li>
          <li>
            <%= link_to "e-mail", "mailto:stay@thepostmasterslodgings.co.nz" %>
          </li>
        </ul>
    </div>
    <div class="stamp"></div>
  </div>
</div>
