= form_for @booking, :url => booking_path do |form|
  .input.text
    = form.label :name, "name"
    = form.text_field :name
  .input.date
    = form.label :arrive, "staying from"
    = form.text_field :arrive
  .input.date
    = form.label :depart, "staying to"
    = form.text_field :depart
  .input.select
    = form.label :room_type, "desired room type"
    = form.select :room_type, options_for_select(["Queen bed", "Queen bed + single", "Twin share"])
  .input.text
    = form.label :email, "email"
    = form.email_field :email
  .input.text
    = form.label :phone_number, "phone number"
    = form.telephone_field :phone_number
  .input.textarea
    = form.text_area :message
  .input.submit
    %button{:type => 'submit'}
      Release the pidgeon
%nav#more
  %ul
    %li= link_to "Tariffs", "#tariffs", :class => "fade"
    %li= link_to "Contact directly", "#contact", :class => "fade"
.fade#tariffs
  %p Queen rooms with ensuite from $100 to $120 per night.
  %p Extra persons for single beds $25.
.fade#contact
  %p Call John or Dorothy on:
  %p +64 (0) 9 405 7676
  %p or email:
  %p= link_to "ferrymans@xtra.co.nz", "mailto:ferrymans@xtra.co.nz"
.stamp
:javascript
  $script.ready('plugins', function() {
    $script("#{javascript_path('booking')}", 'booking');
  });
