<div class="row">
  <div class="medium-6 columns">
    <%= simple_form_for @booking do |f| %>
      <%= f.input :name %>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :arrive, as: :date,
            start_year: Date.today.year,
            end_year: Date.today.year + 2,
            order: [:day, :month, :year] %>
        </div>
        <div class="small-6 columns">
          <%= f.input :depart, as: :date,
            start_year: Date.today.year,
            end_year: Date.today.year + 2,
            order: [:day, :month, :year] %>
        </div>
      </div>
      <%= f.input :room_type, collection: Booking::ROOM_TYPES %>
      <%= f.input :email, as: :email %>
      <%= f.input :phone_number, as: :tel %>
      <%= f.input :message, as: :text %>
      <%= f.button :submit, 'Release the pidgeon', class: 'expand' %>
    <% end %>
  </div>

  <div class="medium-6 columns">
    <nav id="more">
      <ul>
        <li>
          <%= link_to "Tariffs", "#tariffs", :class => "fade" %>
        </li>
        <li>
          <%= link_to "Contact directly", "#contact", :class => "fade" %>
        </li>
      </ul>
    </nav>
    <div class="fade" id="tariffs">
      <p>Queen rooms with ensuite from $100 to $120 per night.</p>
      <p>Extra persons for single beds $25.</p>
    </div>
    <div class="fade" id="contact">
      <p>Call John or Dorothy on:</p>
      <p>+64 (0) 9 405 7676</p>
      <p>or email:</p>
      <p>
        <%= link_to "thepostmasterslodgings@vodafone.co.nz", "mailto:thepostmasterslodgings@vodafone.co.nz" %>
      </p>
    </div>
    <div class="stamp"></div>
  </div>
</div>
