!!!
%html
  %head
    %title The Postmasters Lodgings | Luxury Boutique Accommodation
    %meta{:name => "description", :content => "The Postmasters Lodgings"}/
    %meta{:name => "keywords", :content => "Luxury Boutique Accommodation Rawene New Zealand"}/
    %link{:href => s3("favicon.png"), :rel => "shortcut icon"}/
    = stylesheet_link_tag :all
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js', 'jquery.galleriffic.js', 'jquery.opacityrollover.js', 'application'
    /[if IE]
      =javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = csrf_meta_tag
  %body
    #container
      %header
        %h1
          The Postmasters Lodgings
        %nav
          %ul
            %li= link_to "Welcome", "/"
            %li= link_to "Gallery", "gallery"
            %li= link_to "Booking", "booking"
      %article
        = yield
  - if Rails.env == 'production'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17751156-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
